MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/forum?retryWrites=true&w=majority
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-service-account-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FRONTEND_ORIGIN=http://localhost:3001
PORT=3000

